/************** STRUCUTRE **************/

*{
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100%;
    margin: 0 auto;
    background: url(img/background.png)
}
#conteneur{
    width: 1220px;
    background: #FFFFFF;
    margin: 0 auto;
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    border: 0px solid #000000;
    -webkit-box-shadow: 1px 1px 2px 6px rgba(0,0,0,0.22);
    -moz-box-shadow: 1px 1px 2px 6px rgba(0,0,0,0.22);
    box-shadow: 1px 1px 2px 6px rgba(0,0,0,0.22);
    padding: 40px 15px;
    font-family: arial;
}

header{
    background: #C55394;
    height: 70px;
    margin: 0;
}
footer{
    font-family: arial;
    background: #E577B5;
    color: #fff;
    height: 50px;
    margin-top: 50px;
    margin-bottom: 0px;

}
/***************CONTENU *****************************/

.head-1{
    float: left;
}
.head-1 h1{
    font-family: 'Courgette', cursive;
    font-size: 28px;
    color: #fff;
    margin: 0;
    padding-left: 30px;
    padding-top: 18px; 
    font-weight: normal;
}
nav{
    float: right;
    margin: 0;
}

nav a{
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-family: arial, sans-serif;
    font-size: 13px;
    font-weight: bold;
    margin: 0;
}
nav ul{
    list-style: none;
    margin: 0;
}
nav li{
    float: left;
    margin: 0;
    padding: 25px 20px;
}
nav li:hover, .active{
    background: #EB43A3;
}


.titre h1{
    height: 180px;
    line-height: 245px;
    text-align: center;
    font-family: 'Courgette', cursive;
    font-weight: bold;
    font-size: 33px;
    color: #C55394;
    background: url(img/rainbow.png) no-repeat center 30px;
    margin: 0;
}

.main-1 p{
    font-size: 14px;
}
main h2{
    color: #EB43A3;
    font-family: 'Courgette', cursive;
    font-weight: normal;
}
img:hover{
    transform: scale(1.1);
    transition: 0.5s;
}
.main-2{
    margin-top: 70px;
}
.main-2 figure{
    width: 25%;
    float: left;
    margin: 0; 
}
figure .image1{
    margin: 10px;
}
figcaption .image1{
    background: rgba(0, 0, 0, 0.76);
    height: 5%;
    width: 100%;
    left: 0px;
    text-align: center;
    color: #fff;
    position: absolute;
}
.main-3{
    width: 60%;
    float: left;
}
.main-4{
    width: 40%;
    float: left;
    margin-top: 70px; 
}
.main-4 h3{
    font-family: 'Courgette', cursive;
    color: #C55394;
    font-size: 16px;
}
.main-4 .adresse{
    font-size: 13px;
}
label{
    font-size: 13px;
    
}
.case{
    margin-top: 15px;
}
.bouton{
    margin-top: 15px;
    display: block;
    border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
    border: 0px solid #000000;
    background: #C55394;
    color: #fff;
    padding: 7px 16px;
    font-size: 14px;
    font-weight: bold;
    border: red;
}
.clear{clear: both;}

.texte{
    text-align: right;
    line-height: 50px;
    font-size: 12px;
    font-weight: bold;
}
