/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/****** FIN RESET ******/


#contener{
    width: 960px;
    margin: 50px auto;
}
header{
    display: flex;
    height: 200px;
}
.haut1{
    width: 250px;
    background: darkblue;
}
.haut2{
    width: 500px;
    background: pink;
}
.haut3{
    width: 250px;
    background: aqua;
}

nav{
    height: 40px;
    background: black;
    color: white;
}

main{
    display: flex;
    background: red;
}

aside{
    width: 200px;
    background: aqua;
}
article{
    float: left;
}
.a{
    width: 400px;
    height: 300px;
    background: orange;
}
.b{
    width: 400px;
    height: 300px;
    background: brown;
}
.S{
    width: 800px;
    height: 300px;
    background: grey;
}
.c{
    width: 200px;
    height: 200px;
    background: pink;    
}
.d{
    width: 200px;
    height: 200px;
    background: darkblue;    
}
.e{
    width: 200px;
    height: 200px;
    background: pink;    
}
.f{
    width: 200px;
    height: 200px;
    background: darkblue;    
}

.clear{
	clear:both;
}

footer{
    height: 50px;
    background: black;
    color: white;
}












