body{
	margin: 0 auto;
	width: 100%;
	height: 100%;
	background:#ffffff;
	font-family:arial, sans sérif;
	background-image:url('img/background.png');
	
	
}
header{
	background:#C55394;
	height:70px;
}
header h1{
	color:#FFFFFF;
	font-size:30px;
	font-weight:normal;
	margin:0;
	padding:10px 20px;
	font-family: 'Courgette', cursive;
}
.bloc-20{
	float: right;
	width: 20%;
	position:relative;
	bottom:50px;
}
.bloc-25{
	float: left;
	width: 25%;
}
nav a{
	font-size:14px;
	padding:0 8px;
	color: #fff;
	width:9%;
	text-decoration:none;
	text-transform: uppercase;
	text-align:center;
	font-family: sans-serif;
	height:36px;
	line-height: 36px;
	transition:0.5s;
	position:relative;
	bottom:46px;
	left:22px;
}
nav a:hover{
background:#EB43A3;}

.rainbow{
	position:relative;
	top:10px;
	left:670px;}
	
.rainbow h1{
	color:#C55394;
	font-size:30px;
	font-weight:normal;
	margin:0;
	padding:10px 20px;
	font-family: 'Courgette', cursive;
	position:relative;
	bottom:105px;
	left:150px;}

.conteneur{
	border-radius: 12px 12px 12px 12px;
	-moz-border-radius: 12px 12px 12px 12px;
	-webkit-border-radius: 12px 12px 12px 12px;
	border: 0px solid #000000;
	-webkit-box-shadow: 0px 9px 13px 0px rgba(0,0,0,1);
	-moz-box-shadow: 0px 9px 13px 0px rgba(0,0,0,1);
	box-shadow: 0px 9px 13px 0px rgba(0,0,0,1);
		/* réglages effectué sur css matic*/
	height:1300px;
	width:1200px;
	background:#ffffff;
	margin:0 auto;
	position:relative;
	bottom:100px;
	
	}
.conteneur h1 {
	font-family: 'Courgette', cursive;
	color:#EB43A3;
	font-weight:normal;
	position:relative;
	top:100px;
	left:40px;
	
	
}
.conteneur h1 p {
	font-weight:normal;
	font-size:15px;
	color:black;
	font-family:arial, sans sérif;
	padding-right:25px;
	margin-right:25px;
	
	
}
.conteneur h2 {
	font-family: 'Courgette', cursive;
	color:#EB43A3;
	font-weight:normal;
	font-size:30px;
	position:relative;
	top:120px;
	left:50px;
	
	
}
.conteneur h3 {
	font-family: 'Courgette', cursive;
	color:#EB43A3;
	font-weight:normal;
	font-size:30px;
	position:relative;
	top:100px;
	left:50px;
	
	
}
img{
	height:250px;
	margin: 15px;
	position: relative;
	top:100px;
	right:50px;
	}


figcaption{
	background: rgba(0,0,0,0.75);
	text-align:center;
	width:250px;
	position: relative;
	top:45px;
	right:35px;
	transition:0.5s;
	color:white;
	
}
/* permet de caler les figcaption et les images en relative*/
a{
	position: relative;
	top:5px;
	right:10px;
}
footer{
	background:#E577B5;
	height:130px;
}
footer p{
	color:white;
	text-align:right;
	padding-top:40px;
	padding-right:40px;
}
.map{
	position:relative;
	top:80px;
	left:30px;
	
}
.textmap{
	position:relative;
	bottom:440px;
	left:630px;
	
}
.textmap h5{
	font-family:'Courgette', cursive;
	color:#C55394;
font-size:bold;}


clear{clear:both;}

