*{
	box-sizing:border-box;
	font-family:"Arial", sans-serif;
	margin:0;
	padding:0;
}

body{
	background-image:url("img/background.png");
}

header{
	/* border: 3px solid green; */
	margin: 0 auto;	
	min-height:100px;
	position:relative;
	text-align:center;
	width:1000px;
}

header img{
	height:100px;
	width:218px;
	position:absolute;
	left:400px;
	top:25px;
}

h1{
	color:#c55394;
	font-family:"Courgette", cursive;
	font-size:20px;
	position:absolute;
	left:400px;
	top:40px;
}

#conteneur{
	background-color:#fff;
	box-shadow: 2px 2px 10px black;
	/* border: 3px solid red; */
	margin: 0 auto;
	width:1000px;
}

main{
	/* border: 3px solid blue; */
	min-height:770px;
}

#section1{
	/* border: 3px solid red; */
	height:200px;
}

.fa{
	color:#eb43a3;
	float:left;
	margin-left:10px;
	margin-top:5px;
}

#section1 h2 a, #section2 h2 a, #section3 h2 a{
	color:#eb43a3;
	float:left;
	font-family:"Courgette", cursive;
	font-size:18px;
	margin-left:10px;
	text-decoration:none;
}

#section1 h2 a:hover, #section2 h2 a:hover, #section3 h2 a:hover{
	color:lightpink;
}

#section1 p{
	font-size:11px;
	margin-left:10px;
	margin-top:20px;
}

#section2{
	/* border: 3px solid green; */
	height:330px;	
}

#section2 #images {
	margin:30px auto 0px;
	width:900px;
}

#section2 figure {
	float:left;
	margin-left:15px;
}

#section2 figcaption {
	background-color:#333;
	color:#fff;
	margin-top:-5px;
	text-align:center;
}

#section3{
	/* border: 3px solid blue; */
	margin-top:0px;
	min-height:300px;	
}

#section3 #conteneur3gauche{
	float:left;
	margin-top:20px;
}

#section3 iframe{
	margin-left:10px;
}

#section3 #conteneur3droite{
	/* border:3px solid green; */
	float:left;
	height:250px;
	margin-left:30px;
	width:400px;
	padding-top:20px;
}

h3{
	color:#eb43a3;
	float:left;
	font-family:"Courgette", cursive;
	font-size:12px;
	margin-top:10px;	
}

#section3 #conteneur3droite p{
	color:#333;
	font-size:12px;
	margin-top:10px;
}

input{
	margin-top:10px;
}

footer{
	background-color:#e577b5;
	/* border: 3px solid pink; */
	margin:0 auto;
	min-height:30px;
	width:1000px;
}

footer span{
	color:white;
	float:right;
}

.clear{
	clear:both;
}