@font-face {
  font-family: 'FontAwesome';
  src: url('../fonts/fontawesome-webfont.eot?v=4.7.0');
  src: url('../fonts/fontawesome-webfont.eot?#iefix&v=4.7.0') format('embedded-opentype'), url('../fonts/fontawesome-webfont.woff2?v=4.7.0') format('woff2'), url('../fonts/fontawesome-webfont.woff?v=4.7.0') format('woff'), url('../fonts/fontawesome-webfont.ttf?v=4.7.0') format('truetype'), url('../fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	box-sizing: border-box;
}

body{
	background: #fff;
	width: 100%;
	height: 100%;
	font-family: Arial, sans-serif;
	color: #000;
	font-size: 15px;
}

header{
	background: #C55394;
	padding: 5px;
}

header a{
	color:  #000 ;
	text-decoration: none;
}


header .uniclogo{
	font-family: 'Courgette', cursive;
	font-size: 2.4em;
	color: #fff;
	width: 60%;
	float: left;
	padding: 10px;
}

nav{
	width: 40%;
	float: left;
}

nav .active{
	background: #F346D5;
}

nav a{
	color: #fff;
	text-decoration: none;
	transition: 0.5s;
}

nav ul{
	margin: 0;
	padding: 0;
	list-style: none;
}

nav ul li{
	width: 30%;
	float: left;
	padding: 10px 10px;
	text-align: center;
	line-height: 40px;
}

nav li:hover{
	text-decoration: none;
	background: #F346D5;
}

#container{
	width: 1220px;
	margin: 0 auto;
	background: #fff;
	-webkit-box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.37);
	-moz-box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.37);
	box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.37);
	border-radius: 10px 10px 10px 10px;
	-moz-border-radius: 10px 10px 10px 10px;
	-webkit-border-radius: 10px 10px 10px 10px;
	border: 0px solid #000000;
}

main {
	margin: 0 auto;
	background: url("../img/background.png");
}

main img{
	display: block;
	margin: 0 auto;
}

main h1{
	font-family: 'Courgette', cursive;
	font-size: 2.4em;
	color: #C55394;
	background: no-repeat center url("../img/rainbow.png");
	background-position:  center top;
	line-height: 100px;
	text-align: center;
	margin-top: 50px;
	padding-top: 50px;
}

main section{
	padding-top: 50px;
}

main .unicstar{
	font-size: 0.7em;
	color: #C55394;
	float: left;
	padding: 10px 0 10px 20px;
}

main h2{
	font-family: 'Courgette', cursive;
	font-size: 1.8em;
	color: #C55394;
	line-height: 30px;
	vertical-align: top;
	float: left;
	padding: 10px 0 30px 10px;
}

main .sec1 p{
	padding: 10px 20px 10px 20px;
}

 main figure{
	 width: 275px;
	 height: 280px;
	 position: relative;
	 overflow: hidden;
	 float: left;
	 margin-left: 24px;
 }

 figure img{
	 display: block;
	 width: 100%;
 }

 figcaption{
	 background: rgba(0,0,0,0.75);
	 text-align: center;
	 padding: 5px 0;
	 width: 100%;
	 position: absolute;
	 left: 0;
	 bottom: 0px;
	 transition: 0.5s;
 }

figure:hover{
	 width: 295px;
	 height: 300px;
}


main .sec3{
	margin-bottom: 70px;
	padding-bottom: 40px;
}

main .sec3 h3{
	font-family: 'Courgette', cursive;
	font-size: 1em;
	color: #C55394;
	line-height: 30px;
	vertical-align: top;
	margin-top: 10px;
}

main .sec3 .bloc1{
	float: left;
	padding-left: 30px;
}

main .sec3 .bloc2{
	float: left;
	padding-left: 20px;
}

main span{

}

footer{
	background: #C55394;
	text-align: right;
	line-height: 50px;
	color: #fff;
	min-height: 50px;
}

form {

}

.clear{
	clear: both;
}

